
body {
	background: #83bedd;
	font-family: 'Fredoka One', cursive;

}

.contenedor {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
}
.contenedor-2 {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
}

.logo {
	text-align: center;
	margin-top: -75px;

}

header {
	background: url('../img/bg.jpg') #fff;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
	/*max-height: 100%;*/
	min-height: 100%;
	max-height: 100%;
}

header .menu{
	margin: 40px 0;
	text-align: right;
}

header .menu a {
	margin: 0  20px;
	color:  #fff;
	padding-bottom: 9px;
	font-size: 16px;
	display: inline-block;
	text-decoration:  none;
	border-bottom: 2px solid transparent;
}

header .menu a:hover {
	border-bottom: 2px solid #fff;
}

.main {
	background: #fff;
	
}
.acerca-de h1 {
	color: #0A2C3E;
	font-size: 60px;
	margin: 30px;
	text-align: center;
}
.acerca-de h2 {
	font-family: "Pacifico";
	font-size: 40px;
	color: #0A2C3E;
	margin: 30px;
	text-align: center;
}
.franquicia {
	width: 68%;
	float: left;
}
.franquicia img {
	width: 100%;
	border-radius: 10px;


}

/*section.renders {
	background: #fff;
	padding: 20px;
	width: 70%;
}*/
aside {
	background: #0A2C3E;
	color: #fff;
	padding: 0px 40px;
	width: 25%;
	height: 459px;
	float: left;
}
aside p{
	font-size: 30px;
	font-family: 'Fredoka One';
}

footer{
	clear: both;
	background:  #0A2C3E;
	color: #fff;
	border-radius: 20px 20px 0px 0px;
}
footer .contacto{
	padding: 10px 0;
}
footer .contacto .titulo{
	padding: 30px 0;
	line-height: 34px;
	margin-bottom: 40px;
	font-size: 40px;
	color: #fff;
	text-align: center;
} 
footer .contacto .formulario {
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea {
	border:2px solid #cecece; 
	border-radius: 5px;
	padding: 15px 20px;
	font-size: 20px;
	color: #a4a4a4;
}
footer .contacto .formulario input[type="text"]:focus,
footer .contacto .formulario input[type="email"]:focus,
footer .contacto .formulario textarea:focus {
	border:2px solid #387bea;

}
footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"] {
	width: 45%;
	margin-bottom: 15px;
}
footer .contacto .formulario textarea {
	width: 100%;
	height: 100px;
	min-width: 96%;
	max-width: 96%;
	min-height: 100px;
	max-height: 300px;
	margin-bottom: 15px;
}
footer .contacto .formulario .boton {
	margin: auto;
	background: #3895ea;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 15px 40px;
	cursor: pointer;
}
footer .contacto .formulario .boton:hover {
	background: #387bea;
}

footer .redes-sociales {
	padding: 60px 0;
}
section .contenedor-2 {
	display: flex;
	justify-content:center;
}	

section.redes-sociales a {
	color: #387bea;
	text-align: center;
	width: 100px;
	display: block;
	padding: 15px 0;
	border-radius: 3px;
	font-size: 30px;
	margin:  0px 20px;

}

footer .redes-sociales .twitter:hover {background: #1da1f2;}
footer .redes-sociales .facebook:hover {background: #3b5998;}
footer .redes-sociales .youtube:hover {background: #cd201f;}
footer .redes-sociales .instagram:hover {background: #c13584;}